@import "antd/lib/style/themes/default.less";
@import "antd/dist/antd.less";
@import "./theme.less";

#root {
  margin: auto;
  text-align: center;
  max-width: 375px;
  width: 100%;
  height: 100%;
  border: 1px solid @primary-color;
}

.App-logo {
  height: 15em;
  width: 15em;
  margin-top: 4em;
  margin-bottom: 4em;
  padding-top: 2em;
  pointer-events: none;
  color: @heading-color;
  background-color: @component-background;
  border-radius: 50%;
  border: 5px solid @primary-color;
}
.App-logo svg {
  height: 10em;
  width: 10em;
  fill: @heading-color;
}

.App-button {
  height: 5em;
  width: 6em;
  font-size: calc(10px + 1em);
  border-radius: 15%;
}

.App-button svg {
  height: 1.5em;
  width: 1.5em;
  fill: @primary-color;
}

.icon-logo {
  width: 3em;
  height: 3em;
}

.icon-logo svg {
  width: 3em;
  height: 3em;
  fill: @border-color-base;
}

.ant-layout-header {
  height: 6em;
  padding: 1em;
  color: @component-background;
}

.ant-layout-header p {
  font-size: 2em;
  text-align: start;
  font-weight: bold;
  line-height: 1.5em;
}

.ant-layout-header .anticon-menu,
.ant-layout-header .anticon-arrow-left {
  font-size: 2.5em;
  text-align: end;
  font-weight: bolder;
}

.ant-layout-content {
  padding: 1em;
}

.ant-menu-item span {
  font-size: 18px !important;
}

.ant-menu-item .anticon-copyright {
  font-size: 14px !important;
}

.google-login {
  background-color: @component-background;
  font-size: 16px;
  font-weight: bold;
}
.google-login svg {
  width: 1em;
  height: 1em;
  margin-right: 1em;
}
